
*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.xcbkptlist

voronoi_build_2/voronoi_build_2.xcodeproj/project.xcworkspace/xcshareddata/voronoi_build_1.xccheckout

voronoi_build_2/voronoi_build_2.xcodeproj/project.xcworkspace/xcshareddata/voronoi_build_2.xccheckout

voronoi_build_2/voronoi_build_2.xcodeproj/project.xcworkspace/xcuserdata/seanrpurser-haskell.xcuserdatad/WorkspaceSettings.xcsettings

voronoi_build_2/voronoi_build_2.xcodeproj/xcuserdata/seanrpurser-haskell.xcuserdatad/xcschemes/xcschememanagement.plist
